Source: twisteros-imager
Section: admin
Priority: optional
Maintainer: Seth Olivarez <olivarezseth23@gmail.com>
Build-Depends: debhelper (>= 10), cmake, libarchive-dev, libcurl4-openssl-dev | libcurl4-gnutls-dev,  
 qtbase5-dev, qtbase5-dev-tools, qtdeclarative5-dev, libqt5svg5-dev, qttools5-dev, libssl-dev,
 qml-module-qtquick2, qml-module-qtquick-controls2, qml-module-qtquick-layouts, qml-module-qtquick-templates2, qml-module-qtquick-window2, qml-module-qtgraphicaleffects
Standards-Version: 4.1.2
Homepage: https://www.raspberrypi.org/

Package: twisteros-imager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 qml-module-qtquick2, qml-module-qtquick-controls2, qml-module-qtquick-layouts, qml-module-qtquick-templates2, qml-module-qtquick-window2, qml-module-qtgraphicaleffects,
 dosfstools, fdisk 
Recommends: udisks2
Description: TwisterOS-Imager
 A fork of the raspberry pi imager made for TwisterOS by oxmc.
