[Desktop Entry]
Type=Application
Version=1.0
Name=TwisterOS Imager
Comment=TwisterOS Imager
Icon=twisteros-imager
Exec=twisteros-imager
Categories=Utility
StartupNotify=false
